<html>
<head>
	<title>About</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/aboutStyle.css">
</head>
<body>

	<nav id="mainNav">
		<div><img src="../static/images/logoFinal2.png" id="keg"></div>
		<ul>
			<li class="menuElement">
				<a href="/">HOME</a>
			</li>
			<li class="menuElement" id="guides">
				<a href="/guides">GUIDES</a>
			</li>
			<li class="menuElement" id="about">
				<a href="/about">ABOUT</a>
			</li>
		</ul>
	</nav>


	<main>
		<div id="mainDiv">
				<div id="info">
					<p>This website was created as a project in
				        the INFO 212 "Systemdevelopment" course at
					The University of Bergen. <br><br> Since all 						the creators of the project love beer, 
					it was decided that we would make something						related to beer and microbreweries.<br>	</p>
				</div>

				<div id="github">
					<p>The project will be open source once the 						deadline has passed at the endo of the 							current semester.</p>
				<img id="octocat" src="../static/images/Octocat.png">
				</div>	
				<div id="contributors">
					<p>Contributors:</p>
					<ul>
						<li><p>Eirik Sjøvoll</p></li>
						<li><p>Morten Linderud</p></li>
						<li><p>Marius Lillevik</p></li>
						<li><p>Roar Helland</p></li>
					</ul>
				</div>

		</div>
	</main>
</body>
</html>
