<html>
<head>
	<title>Guides</title>
	<link rel="stylesheet" type="text/css" href="../static/css/guideStyle.css">
</head>
<body>

	<nav id="mainNav">
		<div><img src="../static/images/logoFinal2.png" id="keg"></div>
		<ul>
			<li class="menuElement">
				<a class="amenu" href="/">HOME</a>
			</li>
			<li class="menuElement" id="guides">
				<a class="amenu" href="/guides">GUIDES</a>
			</li>
			<li class="menuElement" id="about">
				<a class="amenu" href="/about">ABOUT</a>
			</li>
		</ul>
	</nav>


	<main>
		<div id="mainDiv">

		<a href="">
		<div class="guides"  id= "guide1">
			
			<img class="guideImg" src="../static/images/home_brew.jpg">
			<div class="guideTitle"><p>Awesome Amber!</p></div>
			<div class="guideText">

			<p>Type: Extract<br>
			Batch: 5.00 gal<br>
			Boil Size: 3.98 gal<br>
			Boil Time: 45 min<br>
			Rating: 45 / 50<br></p>
			</div>

		</div></a>

		<a href="">
		<div class="guides"  id= "guide2">
			
			<img class="guideImg" src="../static/images/beer1.jpg">
			<div class="guideTitle"><p>Max's last call</p></div>
			<div class=guideText>
			<p>Type: All Grain<br>
			Batch Size: 5.50 gal<br>
			Boil Size: 7.00 gal<br>
			Boil Time: 60 min<br>
			Rating: 35 / 50</p>
			</div>

		</div>
		</a>

		<a href="">
		<div class="guides"  id= "guide3">

			<img class="guideImg" src="../static/images/home_brew2.jpg">
			<div class="guideTitle"><p>No Decency Amber</p></div>
			<div class="guideText">

			<p>Type: Partial Mash<br>
			Batch Size: 5.50 gal<br>
			Boil Size: 6.85 gal<br>
			Boil Time: 60 min<br>
			Rating: 30 / 50</p>
			</div>
		</div></a>

		</div>
	</main>
</body>
</html>
