<html>
<head>
	<title>Guides</title>
	<link rel="stylesheet" type="text/css" href="../static/css/guideStyle.css">
</head>
<body>
	<nav id="mainNav">
		<div><img src="../static/images/logo.png" id="keg"></div>
		<ul>
			<li>
				<a href="#">Home</a>
			</li>
			<li id="about">
				<a href="#">About</a>
			</li>
		</ul>
	</nav>


	<main>
		<div id="mainDiv">
			<div class="guides"  id= "guide1">

				<div >
					<img class="guideImg" src="../static/images/logo.png">
				</div>
				<div class="guideTxt"><p>1</p></div>

			</div>



			<div class="guides" id= "guide2">

				<div >
					<img class="guideImg" src="../static/images/logo.png">
				</div>
				<div class="guideTxt"><p>2</p></div>

			</div>



			<div class="guides" id= "guide3">

				<div >
					<img class="guideImg" src="../static/images/logo.png">
				</div>
				<div class="guideTxt"><p>3</p></div>

			</div>



			<div class="guides" id= "guide4">

				<div>
					<img class="guideImg" src="../static/images/logo.png">
				</div>
				<div class="guideTxt"><p>4</p></div>

			</div>



			<div class ="guides" id= "guide5">

				<div >
					<img class="guideImg"  src="../static/images/logo.png">
				</div>
				<div class="guideTxt"><p>5</p></div>

			</div>
		</div>
	</main>
</body>
</html>