<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<script type="text/javascript" src="../static/javascript/script.js"></script>
	</head>
	<body>
		<nav id="mainNav">
			<div><img src="../static/images/keg.svg" id="keg"></div>
			<ul>
				<li>
					<input type="text" id="searchField" value="Search here.">
				</li>
				<li><input type="button" value="Search" onclick="search()" id="subbutton">
				</li>
				<li id="about">
					<a href="#">About</a>
				</li>
			</ul>
		</nav>
		<div id="map" style="width:100%;height:100%;">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN0vhX2FQSENp9161rhLuoXUDCo-PmXiQ&libraries=places&callback=myMap"></script>

</div>
	</body>


</html>